numpy
pandas
scipy
matplotlib
seaborn
scikit-learn
xgboost
mlxtend
notebook
ipykernel
nltk
spacy
openpyxl
xlrd
umap-learn
yellowbrick
statsmodels
joblib
pyspark
torch
tensorflow
tqdm
glob
pyarrow
faiss-cpu
dotenv